@import "../../variables.modules";

h1 {
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 5px;

  @media only screen and (min-width: 600px) {
    font-size: 1.3rem;
  }
}

h2 {
  font-size: 0.8rem;
  font-weight: 300;
  line-height: 2rem;
  padding-top: 1rem;

  @media only screen and (min-width: 600px) {
    font-size: 1rem;
  }

  b {
    letter-spacing: 2px;
  }
}

a {
  color: $dark;
  transition: color 200ms ease;
}

a:hover {
  color: $lightgray;
  transition: color 200ms ease;
}

.decorativeText {
  font-family: 'Ovo', sans-serif;
  font-size: 8rem;
  opacity: 0.1;
  position: absolute;
  bottom: 1rem;
  left: 1rem;

  @media only screen and (min-width: 600px) {
    font-size: 12rem;
    text-align: left;
    left: 4rem;
  }
}

.virgoContainer {
  position: absolute;
  width: 100px;
  height: 300px;
  right: 20%;
  top: 15%;

  .star {
    position: absolute;
    color: $light-bg;
    z-index: 2;
    opacity: 0.5;

    svg {
      width: inherit;
      height: inherit;
    }
  }

  .star1 {
    width: 15px;
    height: 25px;
    top: -1.5%;
    right: 0%;
    -webkit-animation: blink-animation 2s infinite;
    animation:         blink-animation 2s infinite;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
  }

  .virgoSvg svg {
    opacity: 0.5;
  }
}

@-webkit-keyframes blink-animation {
  0%   { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  50%  { 
    opacity: 1;
    width: 100%;
    height: 100%;
  }
  100% { 
    opacity: 0;
    width: 0;
    height: 0;
  }
}
@keyframes blink-animation {
  0%   { opacity: 0; }
  50%  { opacity: 1; }
  100% { opacity: 0; }
}