$purple: #8D53FF;
$pink: #CA6BE6;
$white: #f8f8f8;
$dark: #1f1f1f;
$red: #FF6057;
$yellow: #FFBD2E;
$green: #27C93F;
$lightgray: #c9c9c9;

// Light Theme
$light-bg: #EEE7E1;
// $light-text: #37383e;
$light-text: #333;
$light-secondary: #C88127;
$light-gray: #959495;
$light-purple: #7c7478;
$light-brown: #7F6253;
$light-green: #62644c;
// Dark theme

$transition: all 250ms ease;

.shadowed {
  box-shadow: 0 .5rem 1rem rgba(0,0,0,0.4);
}